body{
	background:url(images/body.jpg) no-repeat center 0 #120902;
}

#wrapper{
	position:relative;
	margin:auto;
	overflow:hidden;
	width:700px;
	height:400px;
}

.Diamonds, .Hearts{
	color:red;
}

.card, .handCard, #hole{
	width:40px;
	height:60px;
	position:absolute;
	border:1px solid #666;
	border-radius:3px;
	background-color:#fff;
}

.back, #hole.back{
	
	background-color:#234567;
}

.card:hover, .handCard:hover, #hole:hover{
	cursor:pointer;
}

.handCard{
	top:215px;
	left:430px;
}
/*
#card{
	top:215px;
	left:380px;
}
*/
#stats{
	position:absolute;
	top:225px;
	left:100px;
	color:#04A1F2;
	border:1px solid #04A1F2;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:5px;
}

.statVal{
	font-weight:bold;
}

#newHand{
	position:absolute;
	top:280px;
	left:100px;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 10px;
	background: -moz-linear-gradient(
		top,
		#a3a3a3 0%,
		#3b3b3b 50%,
		#242424 50%,
		#000000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#a3a3a3),
		color-stop(0.50, #3b3b3b),
		color-stop(0.50, #242424),
		to(#000000));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);

}

#hole{
	top:215px;
	left:360px;
}

.fieldCard{
	font-size:100%;
}

.back{
	font-size:0;
}

#card-1, #card-2, #card-3{
	top:10px;
}

#card-1{left:160px;}
#card-2{left:320px;}
#card-3{left:480px;}

#card-4, #card-5, #card-6, #card-7, #card-8, #card-9{
	top:50px;
}
#card-4{left:140px;}
#card-5{left:180px;}
#card-6{left:300px;}
#card-7{left:340px;}
#card-8{left:460px;}
#card-9{left:500px;}
#card-10, #card-11, #card-12, #card-13, #card-14, #card-15, #card-16, #card-17, #card-18{
	top:90px;
}
#card-10{left:120px;}
#card-11{left:160px;}
#card-12{left:200px;}
#card-13{left:280px;}
#card-14{left:320px;}
#card-15{left:360px;}
#card-16{left:440px;}
#card-17{left:480px;}
#card-18{left:520px;}
#card-19, #card-20, #card-21, #card-22, #card-23, #card-24, #card-25, #card-26, #card-27, #card-28, #card-29, #card-30{
	top:130px;
}
#card-19{left:100px;}
#card-20{left:140px;}
#card-21{left:180px;}
#card-22{left:220px;}
#card-23{left:260px;}
#card-24{left:300px;}
#card-25{left:340px;}
#card-26{left:380px;}
#card-27{left:420px;}
#card-28{left:460px;}
#card-29{left:500px;}
#card-30{left:540px;}