body { background:#111; }

/* Setting the card faces... */
.front{ background: #000 url(images/largecards.png) no-repeat 0 0; }

/* ...and their backs */
.back,
#hole.back {
	background:#333 url(images/card-back.png) no-repeat -1px -1px !important; /* The !important needs to stay since the background position gets inlined. */
}
.card:hover
.handCard:hover,
#hole:hover { border-color: #000; }